body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  letter-spacing: 1.3px;
}

.form-label,
#nameSearchText {
  font-size: small;
}

.list-group-item {
  font-size: medium;
  border-color: black;
}

.customers {
  color: #0275d8;
}

a {
  text-decoration: none !important;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 670px) {
  #adParagraph {
    display: none;
  }
  li.list-group-item.customers,
  li.list-group-item {
    font-size: smaller;
  }
}
